:root {
  background-color: #09090b; /* zinc-950 */
  color: #e2e8f0; /* slate-200 */
}

body {
  margin: 0;
  padding: 0;
  background-color: #09090b;
  width: 100%;
  min-height: 100vh;
  font-family: monospace;
}

#root {
  width: 100%;
  min-height: 100vh;
}