@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #09090b; /* zinc-950 */
}

/* Скидаємо все, щоб флекс-центрування в App.jsx працювало */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Забороняємо подвійні скроли */
  background-color: #09090b;
}